{% extends "_base.html" %}

{% block style %}
<style>
  .chart div {
  font: Didot;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  color: white;
  }
  .axis path, .axis line {
    fill: none;
    stroke: #fff;
  }
  .yaxis {
    font-size: 13px;
    font-family: times;
  }
  .xaxis {
    font-size: 14px;
    font-family: times;
  }
  .bar {
      fill: #E5C3D1;
    }
  .bar:hover {
      fill: #F56C4E;
    }
  svg text.label {
    fill: black;
    font-size: 14px;
    font-weight: 400;
    text-anchor: middle;
    font-family: times;
  }
</style>
{% endblock %}

{% block body %}
<div style = "margin-left: 15px; margin-right: 15px;">
  <a href="/" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Home</a>
  <a href="/query" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Back</a>
    <br>
    <center>
      <div class="row">
        <div class="col">
          <h1>Data Display</h1>
          {{text}}
          <br>
          <h4 style = "color: #49416D;">Select which type of data you want to view:</h4>
          <div class="form-check checkbox-rounded checkbox-cerulean-blue-filled custom-control-inline">
            <input type="checkbox" class="form-check-input filled-in countries" id='d'  style = "height: 15px; width: 18px;">
            <label class="tick"></label>
            <label class="form-check-label">Deaths</label>
          </div>
          <div class="form-check checkbox-rounded checkbox-cerulean-blue-filled custom-control-inline">
            <input type="checkbox" class="form-check-input filled-in countries" id='r'  style = "height: 15px; width: 18px;">
            <label class="tick"></label>
            <label class="form-check-label">Recoveries</label>
          </div>
          <div class="form-check checkbox-rounded checkbox-cerulean-blue-filled custom-control-inline">
            <input type="checkbox" class="form-check-input filled-in countries" id='n'  style = "height: 15px; width: 18px;">
            <label class="tick"></label>
            <label class="form-check-label">New Cases</label>
          </div>
          <br><br>
          <h4 style = "color: #49416D;">Select which day you want to view the data for:</h4>
          <div class="d-flex justify-content-center my-4">
            <form class="range-field w-75">
              <input type="range" min="1" max="100" class="slider" id="dateSlider">
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
          </div>
          <p id="dateSelected">January 22, 2020</p>
        </div>
      </div>
      <br>
      {% for state in states %}
      <div class="row" style = "margin-left: 5px; margin-right: 5px;">
          <h2>{{state}}</h2> &nbsp;
      </div>
      {% endfor %}
      {% for country in countries %}
      <div class="row" style = "margin-left: 5px; margin-right: 5px;">
          <h2>{{country}}</h2> &nbsp;
      </div>
      {% endfor %}
    </center>
      <div id="chartID"></div>
      <div id="pieID"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript"></script>
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
<script src="/static/js/retrieve_data.js"></script>
{% endblock %}
