{% extends "_base.html" %}

{% block body %}
<div style = "margin-left: 15px; margin-right: 15px;">
  <a href="/" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Home</a>
  <br>
  <center>
    <h1>Data Selection</h1>
  </center>
  <h3 style = "color: #A882DD;">Please select the data you want to be displayed.</h3>
  <br>

  <h4 style = "color: #49416D;">Select state(s) and territories for which you want data to be displayed:</h4>
<form action = "/query" method="post">
  <!-- Individual States -->
  <div>

    {% for state in states %}
      {% if state == 'Alabama' %}
      <div class="row">
      {% endif %}
      <div class="col" style = "width: 242px;">
        <span class="form-check checkbox-rounded checkbox-cerulean-blue-filled custom-control-inline">
          <input type="checkbox" class="form-check-input filled-in states" id={{state_dict[state]}} name='{{state}}'>
          <label class="form-check-label">{{state}}</label>
        </span>
      </div>
      {% if state == 'Wyoming' %}
        <div class="col" style = "width: 242px;">
        </div>
        <div class="col" style = "width: 242px;">
        </div>
        <div class="col" style = "width: 242px;">
        </div>
        <div class="col" style = "width: 242px;">
        </div>
      {% endif %}
      {% if state == 'California' or state == 'Georgia' or state == 'Iowa' or state == 'Massachusetts' or state == 'Nebraska'
      or state == 'North Carolina' or state == 'Pennsylvania' or state == 'Texas' or state == 'West Virginia' %}
        </div>
        <div class ="row">
      {% endif %}
      {% if state == 'Wyoming' %}
        </div>
      {% endif %}
    {% endfor %}
    <br>
    <span class="form-check checkbox-rounded checkbox-cerulean-blue-filled">
      <input type="checkbox" class="form-check-input filled-in" id="allStates" name="allStates">
      <label class="form-check-label">All States and Territories</label>
    </span>
  </div>
  <br><br>

  <h4 style = "color: #49416D;">Select country/countries for which you want data to be displayed:</h4>

  <!-- Individual Countries -->
  <div>

    {% for country in countriesList %}
      {% if country == 'Afghanistan' %}
      <div class="row">
      {% endif %}
      {% if country == 'Country/Region' %}
      </div>
      <div class ="row">
      {% endif %}
      <div class = "col" style = "width: 242px;">
        <div class="form-check checkbox-rounded checkbox-cerulean-blue-filled custom-control-inline">
          <input type="checkbox" class="form-check-input filled-in countries" id='{{country}}' name='{{country}}'>
          <label class="form-check-label">{{country}}</label>
        </div>
      </div>
      {% if country == 'Antigua and Barbuda' or country == 'Bahamas' or country == 'Belize' or country == 'Brazil' or
      country == 'Cabo Verde' or country == 'Chile' or country == 'Cote d Ivoire' or country == 'Denmark' or
      country == 'Egypt' or country == 'Ethiopia' or country == 'Georgia' or country == 'Guinea' or country == 'Hungary' or
      country == 'Ireland' or country == 'Kazakhstan' or country == 'Laos' or country == 'Lithuania' or country == 'Maldives'
      or country == 'Moldova' or country == 'Namibia' or country == 'Nigeria' or country == 'Papua New Guinea' or
      country == 'Qatar' or country == 'Saint Vincent and the Grenadines' or country == 'Seychelles' or country == 'South Africa'
      or country == 'Sweden' or country == 'Timor-Leste' or country == 'Uganda' or country == 'Venezuela' %}
        </div>
        <div class ="row">
      {% endif %}
      {% if country == 'Zimbabwe' %}
        </div>
      {% endif %}
    {% endfor %}
    <br>
    <span class="form-check checkbox-rounded checkbox-cerulean-blue-filled">
      <input type="checkbox" class="form-check-input filled-in" id="allCountries" name="allCountries">
      <label class="form-check-label">All Countries</label>
    </span>
  </div>
  <br>
  <center>
      <button type = "submit" class = "btn btn-primary" value = "sumbit"> Render </button>
  </center>
</form>
</div>
{% endblock %}

{% block scripts %}
<script>
  var allStates = document.querySelector("#allStates");
  allStates.addEventListener('change', function() {
    if (this.checked) {
      var elements = document.getElementsByClassName("form-check-input filled-in states");
      var state = '';
      for (var i=0; i<elements.length; i++) {
        state = elements[i];
        state.disabled = true;
      }
    }

    if (!this.checked) {
      var elements = document.getElementsByClassName("form-check-input filled-in states");
      var state = '';
      for (var i=0; i<elements.length; i++) {
        state = elements[i];
        state.disabled = false;
      }
    }
  });

  var allCountries = document.querySelector("#allCountries");
  allCountries.addEventListener('change', function() {
    if (this.checked) {
      var elements = document.getElementsByClassName("form-check-input filled-in countries");
      var state = '';
      for (var i=0; i<elements.length; i++) {
        state = elements[i];
        state.disabled = true;
      }
    }

    if (!this.checked) {
      var elements = document.getElementsByClassName("form-check-input filled-in countries");
      var state = '';
      for (var i=0; i<elements.length; i++) {
        state = elements[i];
        state.disabled = false;
      }
    }
  });
</script>
{% endblock %}
